
:root{
    --gray_color:rgb(78, 105, 149);
}

.linea_horizontal{
    width:100%;
    background-color: black;
}

header{

    padding-top:5px;
    padding-bottom:10px;
    padding-left: 5px;
    padding-right: 5px;
}

img.logo{
    width:53px;
    height:53px;
    float: left;
    padding: 0 10px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.menu li {
    float: right;
}
  
.menu  li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 14px 53px;
    text-decoration: none;
}

.menu  li button {
    display: block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 12px 53px;
    text-decoration: none;
    background-color:black;
    margin-left: 3px;
    margin-right: 3px;
}

.menu  li a:hover {
    color: white;
    background-color: #111;
}

.menu li div{
    display: block;
    height: 53px;
    width: 3px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    background-color:black;
}

footer{
   margin-top: 10px;
   padding-top: 15px;
}

.menu_2{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}
.submenu li{
    float:right;
}

.submenu  li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 13px;
    padding: 14px 53px;
    text-decoration: none;
}

.submenu  li a:hover {
    color: white;
    background-color: #111;
}

.submenu li div{
    display: block;
    height: 39px;
    width: 3px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    text-decoration: none;
    background-color:black;
}

.contenedor_texto{
    text-align: center;
    align-items: center;
}





