:root{
    --fondo_celeste : rgb(150, 210, 238);
    --letra : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --tamaño_h1 : 37px;
}

body h1{
    font-size :var(--tamaño_h1);
    font-family:var(--letra);
}

footer{
    background-color:var(--fondo_celeste)
}

.ingreso{
    text-align: center;
    
}

input{
    display:table;
    margin-right:auto;
    margin-left:auto;
    height:30px;
    width:267px;
}

.password{
    margin-top: 35px;
}